.BuildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;

}

.BuildControl button {
	display: block;
	/* font: inherit; */
	padding: 5px;
	margin: 0 5px;
	width: 50px;
	border: 1px solid #e0d1be;
	cursor: pointer;
	outline: none;
}

.BuildControl button:disabled {
	background-color: #e9e3db;
	border: 1px solid #e0d9cf;
	color: rgb(182, 65, 65);
	font-weight: bold;
	cursor: default;

}

.Label {
	padding: 10px;
	/* font-weight: bold; */
	width: 80px;
	color: white;
}

.BuildControl .Less {
	background-color:  #f3f3f3;
	font-weight: bold;

		color: rgb(221, 90, 90);
}

.BuildControl .More {
	background-color: #f3f3f3;
	font-weight: bold;
	color: rgb(119, 95, 226);
}

.BuildControl .Less:hover, .BuildControl .Less:active{
  background-color: #e6ddd4;
	color: rgb(160, 108, 243);
}

.BuildControl .More:hover, .BuildControl .More:active{
  background-color: #e9dcce;
	color: white;
}